<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- Always ensure to use the correct XML header as above! -->
<mapper namespace="com.aspire.mirror.template.server.dao.TemplateDao">

    <resultMap id="TemplateResultMap" type="com.aspire.mirror.template.server.dao.po.Template">
        <result property="templateId" column="template_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="funType" column="fun_type" jdbcType="VARCHAR"/>
        <result property="monType" column="mon_type" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="sysType" column="sys_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Template_Base_Column">
        monitor_template.template_id,
        monitor_template.name,
        monitor_template.description,
        monitor_template.create_time,
        monitor_template.type,
        monitor_template.update_time,
        monitor_template.fun_type,
        monitor_template.mon_type,
        monitor_template.status,
        monitor_template.sys_type
    </sql>

    <sql id="Template_Query_List_Sharing">
        <where>
            <if test="templateId != null ">
                and monitor_template.template_id = #{templateId}
            </if>
            <if test="name != null ">
                and monitor_template.name = #{name}
            </if>
            <if test="description != null ">
                and monitor_template.description = #{description}
            </if>
            <if test="createTime != null ">
                and monitor_template.create_time = /*#{createTime}*/ to_date(#{createTime},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="type != null ">
                and monitor_template.type = #{type}
            </if>
            <if test="updateTime != null ">
                and monitor_template.update_time = /*#{updateTime}*/ to_date(#{updateTime},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="funType != null ">
                and monitor_template.fun_type = #{funType}
            </if>
            <if test="monType != null ">
                and monitor_template.mon_type = #{monType}
            </if>
            <if test="status != null ">
                and monitor_template.status = #{status}
            </if>
            <if test="sysType != null ">
                and monitor_template.sys_type = #{sysType}
            </if>
        </where>
    </sql>

    <sql id="Foreach_PrimaryKeyArrays_Sql">
        <foreach collection="array" index="index" item="templateId" separator=","  close=")"  open="(">
            #{templateId}
        </foreach>
    </sql>

    <insert id="insert" parameterType="com.aspire.mirror.template.server.dao.po.Template">
        INSERT INTO monitor_template (
        <include refid="Template_Base_Column"/>
        ) VALUES (
        #{templateId,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{type,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP},
        #{funType,jdbcType=VARCHAR},
        #{monType,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},
        #{sysType,jdbcType=VARCHAR}
        )
        <!--  需要返回自增id，取消此注释即可
     <selectKey resultType="long" keyProperty="templateId" order="AFTER">
         SELECT LAST_INSERT_ID()
     </selectKey>
     -->
    </insert>

    <insert id="insertByBatch" parameterType="com.aspire.mirror.template.server.dao.po.Template">
        INSERT INTO monitor_template (
        <include refid="Template_Base_Column"/>
        ) VALUES (
        <foreach  collection="list" item="item" index="index" separator="union all">
            select
            #{templateId,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
            #{description,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{type,jdbcType=VARCHAR},
            #{updateTime,jdbcType=TIMESTAMP},
            #{funType,jdbcType=VARCHAR},
            #{sysType,jdbcType=VARCHAR}
            from dual
        </foreach>
        )
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM monitor_template WHERE template_id = #{templateId}
    </delete>

    <delete id="deleteByPrimaryKeyArrays" parameterType="java.util.List">
        DELETE FROM monitor_template WHERE template_id in
        <include refid="Foreach_PrimaryKeyArrays_Sql"/>
    </delete>

    <delete id="delete" parameterType="com.aspire.mirror.template.server.dao.po.Template">
        DELETE FROM monitor_template WHERE template_id = #{templateId}
    </delete>








    <update id="updateByPrimaryKeySelective" parameterType="com.aspire.mirror.template.server.dao.po.Template">
        UPDATE monitor_template monitor_template
        <set>
            <if test="templateId != null and templateId != ''">
                monitor_template.template_id = #{templateId,jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != ''">
                monitor_template.name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null and description != ''">
                monitor_template.description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="type != null and type != ''">
                monitor_template.type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null ">
                monitor_template.update_time = #{updateTime},
            </if>
            <if test="funType != null and funType != ''">
                monitor_template.fun_type = #{funType,jdbcType=VARCHAR},
            </if>
            <if test="monType != null and  monType != ''">
                monitor_template.mon_type = #{monType,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != ''">
                monitor_template.status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="sysType != null and sysType != ''">
                monitor_template.sys_type = #{sysType,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE template_id = #{templateId}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.aspire.mirror.template.server.dao.po.Template">
        UPDATE monitor_template monitor_template
        SET
        monitor_template.template_id = #{templateId,jdbcType=VARCHAR},
        monitor_template.name = #{name,jdbcType=VARCHAR},
        monitor_template.description = #{description,jdbcType=VARCHAR},
        monitor_template.type = #{type,jdbcType=VARCHAR},
        monitor_template.update_time = to_date(#{updateTime,jdbcType=TIMESTAMP},'yyyy-mm-dd hh24:mi:ss'),
        monitor_template.mon_type = #{monType,jdbcType=VARCHAR},
        monitor_template.status = #{status,jdbcType=VARCHAR},
        monitor_template.sys_type = #{sysType,jdbcType=VARCHAR}
        WHERE template_id = #{templateId}
    </update>
    <select id="pageListCount" resultType="java.lang.Integer" parameterType="com.aspire.mirror.common.entity.Page">
        SELECT COUNT(*) FROM monitor_template monitor_template
        <include refid="Page_List_Params"/>
    </select>


    <sql id="Page_List_Params">
        <where>
            1=1
            <if test="params['funType'] != null and  params['funType'] != ''">
                and monitor_template.fun_type = #{params.funType}
            </if>
            <if test="params['name'] != null and  params['name'] != ''">
                and monitor_template.name like CONCAT('%', #{params.name}, '%')
            </if>
            <if test="params['type'] != null and  params['type'] != ''">
                and monitor_template.type = #{params.type}
            </if>
            <if test="params['monType'] != null and  params['monType'] != ''">
                and monitor_template.mon_type = #{params.monType}
            </if>
            <if test="params['createTimeStart'] != null and  params['createTimeStart'] != ''">
                and monitor_template.create_time &gt;= to_date(#{params.createTimeStart},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="params['createTimeEnd'] != null and  params['createTimeEnd'] != ''">
                and monitor_template.create_time &lt;= to_date(#{params.createTimeEnd},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="params['status'] != null and  params['status'] != ''">
                and monitor_template.status = #{params.status}
            </if>
            <if test="params['sysType'] != null and  params['sysType'] != ''">
                and monitor_template.sys_type = #{params.sysType}
            </if>
        </where>
    </sql>


    <select id="pageList" resultMap="TemplateResultMap" parameterType="com.aspire.mirror.common.entity.Page">
        select tt.* from
        (select aa.*, ROWNUM nm from (
        select
        <include refid="Template_Base_Column"/>
        from monitor_template
        <include refid="Page_List_Params"/>

        <choose>
            <when test="sortName != null and sortName != ''">
                order by #{sortName} #{order}, template_id desc
            </when>
            <otherwise>
                order by create_time desc , template_id desc
            </otherwise>
        </choose>


        ) aa
        ) tt
        where tt.nm &gt; #{begin}
        AND tt.nm <![CDATA[<=]]> #{begin}+#{pageSize}
    </select>


    <select id="selectByPrimaryKey" resultMap="TemplateResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Template_Base_Column"/>
        FROM monitor_template monitor_template
        WHERE template_id = #{templateId}
    </select>


    <select id="selectByPrimaryKeyArrays" resultMap="TemplateResultMap" parameterType="java.util.List">
        SELECT
        <include refid="Template_Base_Column"/>
        FROM monitor_template monitor_template
        WHERE template_id in
        <include refid="Foreach_PrimaryKeyArrays_Sql"/>
    </select>


    <select id="select" resultMap="TemplateResultMap" parameterType="com.aspire.mirror.template.server.dao.po.Template">
        SELECT
        <include refid="Template_Base_Column"/>
        FROM monitor_template monitor_template
        <include refid="Template_Query_List_Sharing"/>
    </select>


    <select id="selectCount" resultType="java.lang.Integer"
            parameterType="com.aspire.mirror.template.server.dao.po.Template">
        SELECT COUNT(*) FROM monitor_template monitor_template
        <include refid="Template_Query_List_Sharing"/>
    </select>

</mapper>
