<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aspire.ums.cmdb.v2.restful.mapper.BeiXiangRestfulMapper" >

    <!-- 资源池数量统计-->
    <select id="countIdcTypePer" resultType="java.util.Map" parameterType="java.lang.Integer">
        SELECT  idcType `idcType`,CONCAT((COUNT/total)*100, "%") `per`
        FROM
            (SELECT (CASE WHEN IFNULL(idcType, '') = '' THEN '' ELSE idcType END) idcType ,
                  COUNT(1) COUNT,
                  (SELECT COUNT(1) FROM cmdb_instance WHERE is_delete='0') total
            FROM cmdb_instance
            WHERE is_delete='0'
            GROUP BY idcType
            ORDER BY COUNT DESC) a
        <if test="top != null and top != ''">
            limit ${top}
        </if>
    </select>

    <!--资源池设备数量统计-->
    <select id="countIdcDeviceNumber"  resultType="java.util.Map" parameterType="java.lang.Integer">
        SELECT idcType `idcType`, phyNumber `x86Number`,vmNumber `vmNumber`,networkNumber `networkNumber`,safeNumber `safeNumber` FROM
            (
                SELECT    idcType,phyNumber ,vmNumber,safeNumber ,networkNumber , phyNumber + vmNumber + safeNumber +networkNumber total
                FROM(
                    SELECT idcType,
                    SUM(phyNumber) `phyNumber`,
                    SUM(vmNumber) `vmNumber`,
                    SUM(safeNumber) `safeNumber`,
                    SUM(networkNumber) `networkNumber`
                    FROM
                    (
                        SELECT idctype,
                            (CASE WHEN device_class = '服务器' AND device_class_3 = 'X86服务器'  THEN 1 ELSE 0  END) `phyNumber`,
                            (CASE device_type WHEN '云主机' THEN 1 ELSE 0 END)  `vmNumber`,
                            (CASE device_class WHEN '安全设备' THEN 1 ELSE 0 END)             `safeNumber`,
                                (CASE
                                WHEN device_class = '网络设备' AND is_stack = '是' THEN 2
                                WHEN device_class = '网络设备' AND IFNULL(is_stack, '否') = '否' THEN 1
                                ELSE 0 END)  `networkNumber`
                        FROM cmdb_instance
                        WHERE is_delete='0'
                    ) B GROUP BY idcType
                ) a
                ORDER BY total DESC
                  <if test="top != 0 and top != null">
                      LIMIT ${top}
                  </if>
            ) res
    </select>

    <!--租户业务系统数量占比-->
    <select id="countDepart1BizPer"  resultType="java.util.Map" parameterType="java.lang.Integer">
        SELECT department1 `department1`, CONCAT((COUNT(1)/total)*100, "%") `per`
        FROM (
                 SELECT department1,bizSystem,
                        (SELECT COUNT(1) FROM (SELECT DISTINCT bizSystem FROM cmdb_instance WHERE is_delete='0') biz) total
                 FROM
                     cmdb_instance
                 WHERE is_delete = '0' AND department2 != '基础平台部'
                 GROUP BY department1,bizSystem
             ) res
        GROUP BY department1
        ORDER BY COUNT(1) DESC
        <if test="top != 0 and top != null">
            LIMIT ${top}
        </if>
    </select>
    <!--业务系统个数统计-->
    <select id="countDepart1BizNumber"  resultType="java.util.Map" parameterType="java.lang.Integer">
        SELECT department1 `department1`, COUNT(1) `bizNumber`
        FROM (
            SELECT
             department1,
             bizSystem,
            (SELECT COUNT(1) FROM (SELECT DISTINCT bizSystem FROM cmdb_instance WHERE is_delete='0') biz) total
            FROM
            cmdb_instance
            WHERE is_delete = '0' AND department2 != '基础平台部'
            GROUP BY department1,bizSystem
        ) res
        GROUP BY department1
        ORDER BY COUNT(1) DESC
        <if test="top != 0 and top != null">
            LIMIT ${top}
        </if>
    </select>
<!--主机资源数量统计-->
    <select id="countDepart1DeviceNumber"  resultType="java.util.Map" >
        SELECT department1 `department1`,SUM(phyNumber) `x86Number`, SUM(vmNumber) `vmNumber`
        FROM (
                 SELECT
                     department1,
                     (CASE WHEN device_class = '服务器' AND device_class_3 = 'X86服务器'  THEN 1 ELSE 0 END) `phyNumber`,
                     (CASE WHEN device_class = '服务器' AND device_type ='云主机' THEN 1 ELSE 0 END) `vmNumber`

                 FROM
                     cmdb_instance
                 WHERE is_delete = '0' AND department2 != '基础平台部'
             ) res
        GROUP BY department1
        ORDER BY COUNT(1) DESC
        <if test="top != 0 and top != null">
            LIMIT ${top}
        </if>
    </select>

    <!--信息港基础资源占比-->
    <select id="countDeviceByIdcType" resultType="java.util.Map">
        SELECT (CASE WHEN IFNULL(device_class, '') = '' THEN '' ELSE device_class END) `deviceType`,
               SUM(assigned_count) `assNumber`,
               SUM(base) `total`,
               CONCAT(SUM(assigned_count)/SUM(base)*100, "%") `per`

        FROM (
                 SELECT
                     (CASE WHEN  device_class ='服务器' AND device_type='X86服务器' AND device_class_3 = 'X86服务器' THEN 'X86服务器'
                           WHEN  device_class ='服务器' AND device_type='云主机'  THEN '云主机'
                           WHEN device_class != '服务器' THEN device_class END) device_class,
                     (CASE WHEN IFNULL(bizSystem, '') != '' AND device_class = '网络设备' AND is_stack = '是' THEN 2
                         WHEN IFNULL(bizSystem, '') != '' AND device_class = '网络设备' AND  IFNULL(is_stack,'否') = '否' THEN 1
                         WHEN IFNULL(bizSystem, '') != '' AND device_class != '网络设备' THEN 1
                         ELSE 0 END) assigned_count,
                     (CASE WHEN  device_class = '网络设备' AND is_stack = '是' THEN 2
                           WHEN  device_class = '网络设备' AND IFNULL(is_stack,'否') = '否' THEN 1 ELSE 1 END ) base
                 FROM cmdb_instance
                 WHERE is_delete = '0'
                   <if test="idcType != '' and idcType != null">
                       AND idcType=#{idcType}
                   </if>
                   AND  NOT (device_class = '服务器' AND device_type NOT IN ('X86服务器', '云主机') AND NOT device_class_3 ='X86服务器')
             ) tem_t
        where IFNULL(device_class, '') != ''
        GROUP BY device_class
        ORDER BY IFNULL(device_class, '')='',SUM(base) DESC
    </select>

<!--TOP10租户资源数量统计-->
    <select id="countDepart1Device" resultType="java.util.Map" parameterType="java.lang.Integer">
        SELECT department1 `department1`,
               SUM(`X86服务器`) `x86Number`,
               SUM(`云主机`) `vmNumber`,
               SUM(`存储设备`) `storageNumber`
        FROM (
                 SELECT department1,
                        (CASE WHEN device_type = 'X86服务器' THEN 1 ELSE 0 END) `X86服务器`,
                        (CASE WHEN device_type = '云主机' THEN 1 ELSE 0 END) `云主机`,
                        (CASE WHEN device_type = '存储设备' THEN 1 ELSE 0 END) `存储设备`
                 FROM
                     (SELECT department1,device_class,
                             (CASE WHEN device_class ='服务器' AND device_type='X86服务器' AND  device_class_3='X86服务器' THEN device_class_3
                                   WHEN device_class ='服务器' AND device_type='云主机' THEN device_type
                                   WHEN device_class !='服务器' THEN device_class END) device_type
                      FROM cmdb_instance
                      WHERE  is_delete = '0'
                        AND  NOT (device_class = '服务器' AND device_type NOT IN ('X86服务器', '云主机'))
                        AND  NOT (device_class = '服务器' AND device_type = 'X86服务器' AND NOT device_class_3 = 'X86服务器' )
                        AND device_class IN('服务器', '存储设备')
                        AND department2 != '基础平台部'
                        AND IFNULL(bizSystem, '')!= ''
                     ) base


             ) res
        GROUP BY department1
        ORDER BY COUNT(1) DESC
        <if  test="top !=0 and top != null">
            LIMIT ${top}
        </if>
    </select>
<!--机房资产信息统计-->
    <select id="roomDevicePer" resultType="java.util.Map">
        SELECT device_class `deviceType`, count(1) count,CONCAT(COUNT(1)/total*100, "%") `per` FROM
            (
                SELECT device_class,
                       (SELECT COUNT(1) FROM cmdb_instance WHERE is_delete='0' AND roomId='3050' AND device_class IN ('机柜', '服务器', '存储设备', '网络设备')) total
                FROM cmdb_instance WHERE
                    roomId='3050'
             AND device_class IN ('机柜', '服务器', '存储设备', '网络设备')
            ) base
        GROUP BY device_class
    </select>
</mapper>