<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aspire.ums.cmdb.v2.idc.mapper.CmdbIdcManagerMapper" >
    <!-- 定义返回结果结果集 -->
    <resultMap id="resultMap" type="com.aspire.ums.cmdb.v2.idc.entity.CmdbIdcManager" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="idc_code" property="idcCode" jdbcType="VARCHAR" />
        <result column="idc_name" property="idcName" jdbcType="VARCHAR" />
        <result column="sort_index" property="sortIndex" jdbcType="TINYINT" />
        <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    </resultMap>

    <!-- list查询 -->
    <select id="list" resultMap="resultMap">
        SELECT
        `id`,
        `idc_code`,
        `idc_name`,
        `sort_index`,
        `is_delete`
        FROM cmdb_idc_manager
    </select>

    <!-- list查询 -->
    <select id="listByEntity" resultMap="resultMap" parameterType="com.aspire.ums.cmdb.v2.idc.entity.CmdbIdcManager">
        SELECT
        `id`,
        `idc_code`,
        `idc_name`,
        `sort_index`,
        `is_delete`
        FROM cmdb_idc_manager
        WHERE 1=1
        <if test="id != null and id != ''">
        AND `id` = #{id}
        </if>
        <if test="idcCode != null and idcCode != ''">
        AND `idc_code` = #{idcCode}
        </if>
        <if test="idcName != null and idcName != ''">
        AND `idc_name` = #{idcName}
        </if>
        <if test="sortIndex != null and sortIndex != ''">
        AND `sort_index` = #{sortIndex}
        </if>
        <if test="isDelete != null and isDelete != ''">
        AND `is_delete` = #{isDelete}
        </if>
    </select>

    <!-- Get one 查询 -->
    <select id="get" parameterType="com.aspire.ums.cmdb.v2.idc.entity.CmdbIdcManager" resultMap="resultMap">
        SELECT
        `id`,
        `idc_code`,
        `idc_name`,
        `sort_index`,
        `is_delete`
        FROM cmdb_idc_manager
        WHERE 1=1
        AND `id` = #{id}
    </select>

    <select id="getByIdcCode" parameterType="string" resultMap="resultMap">
        SELECT
        `id`,
        `idc_code`,
        `idc_name`,
        `sort_index`,
        `is_delete`
        FROM cmdb_idc_manager
        WHERE 1=1
        AND `idc_code` = #{idcCode}
    </select>

    <!-- 新增记录 -->
    <insert id="insert" parameterType="com.aspire.ums.cmdb.v2.idc.entity.CmdbIdcManager">
        INSERT INTO cmdb_idc_manager
        (
            `id`,
            `idc_code`,
            `idc_name`,
            `sort_index`,
            `is_delete`
        ) VALUES (
            #{id, jdbcType=VARCHAR},
            #{idcCode, jdbcType=VARCHAR},
            #{idcName, jdbcType=VARCHAR},
            #{sortIndex, jdbcType=TINYINT},
            #{isDelete, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 修改记录 -->
    <update id="update" parameterType="com.aspire.ums.cmdb.v2.idc.entity.CmdbIdcManager">
        UPDATE cmdb_idc_manager SET
        `idc_code` = #{idcCode},
        `idc_name` = #{idcName},
        `sort_index` = #{sortIndex},
        `is_delete` = #{isDelete}
        WHERE
        `id` = #{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="com.aspire.ums.cmdb.v2.idc.entity.CmdbIdcManager">
        DELETE FROM cmdb_idc_manager
        WHERE
         `id` = #{id}
    </delete>
</mapper>