<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.migu.tsg.microservice.atomicservice.desk.dao.WorkCommonOperationsDao" >
  <resultMap id="BaseResultMap" type="com.migu.tsg.microservice.atomicservice.desk.dao.po.WorkCommonOperations" >
    <id column="ID_" property="id" jdbcType="INTEGER" />
    <result column="CREATE_TIME_" property="createTime" jdbcType="TIMESTAMP" />
    <result column="USER_ID_" property="userId" jdbcType="VARCHAR" />
    <result column="CLASSIFY_ID_" property="classifyId" jdbcType="INTEGER" />
    <result column="LINK_URL_" property="linkUrl" jdbcType="VARCHAR" />
    <result column="NAME_" property="name" jdbcType="VARCHAR" />
    <result column="LOGO_" property="logo" jdbcType="VARCHAR" />
    <result column="IS_EXTERNAL_" property="isExternal" jdbcType="VARCHAR" />
    <result column="SORT_" property="sort" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID_, CREATE_TIME_, USER_ID_, CLASSIFY_ID_, LINK_URL_, NAME_, LOGO_, IS_EXTERNAL_, 
    SORT_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from work_common_operations
    where ID_ = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from work_common_operations
    where ID_ = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.migu.tsg.microservice.atomicservice.desk.dao.po.WorkCommonOperations" >
    insert into work_common_operations (ID_, CREATE_TIME_, USER_ID_, 
      CLASSIFY_ID_, LINK_URL_, NAME_, 
      LOGO_, IS_EXTERNAL_, SORT_
      )
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, 
      #{classifyId,jdbcType=INTEGER}, #{linkUrl,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{isExternal,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.migu.tsg.microservice.atomicservice.desk.dao.po.WorkCommonOperations" >
    insert into work_common_operations
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID_,
      </if>
      <if test="createTime != null" >
        CREATE_TIME_,
      </if>
      <if test="userId != null" >
        USER_ID_,
      </if>
      <if test="classifyId != null" >
        CLASSIFY_ID_,
      </if>
      <if test="linkUrl != null" >
        LINK_URL_,
      </if>
      <if test="name != null" >
        NAME_,
      </if>
      <if test="logo != null" >
        LOGO_,
      </if>
      <if test="isExternal != null" >
        IS_EXTERNAL_,
      </if>
      <if test="sort != null" >
        SORT_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null" >
        #{classifyId,jdbcType=INTEGER},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="isExternal != null" >
        #{isExternal,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.migu.tsg.microservice.atomicservice.desk.dao.po.WorkCommonOperations" >
    update work_common_operations
    <set >
      <if test="createTime != null" >
        CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        USER_ID_ = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null" >
        CLASSIFY_ID_ = #{classifyId,jdbcType=INTEGER},
      </if>
      <if test="linkUrl != null" >
        LINK_URL_ = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        LOGO_ = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="isExternal != null" >
        IS_EXTERNAL_ = #{isExternal,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        SORT_ = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where ID_ = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.migu.tsg.microservice.atomicservice.desk.dao.po.WorkCommonOperations" >
    update work_common_operations
    set CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      USER_ID_ = #{userId,jdbcType=VARCHAR},
      CLASSIFY_ID_ = #{classifyId,jdbcType=INTEGER},
      LINK_URL_ = #{linkUrl,jdbcType=VARCHAR},
      NAME_ = #{name,jdbcType=VARCHAR},
      LOGO_ = #{logo,jdbcType=VARCHAR},
      IS_EXTERNAL_ = #{isExternal,jdbcType=VARCHAR},
      SORT_ = #{sort,jdbcType=INTEGER}
    where ID_ = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="getOperationListByAccount" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from work_common_operations
    where USER_ID_ = #{account,jdbcType=VARCHAR}
    order by SORT_
  </select>
  
   <select id="getOperationListByClassfyId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from work_common_operations
    where CLASSIFY_ID_ = #{classifyId,jdbcType=INTEGER}
    and USER_ID_ is null order by SORT_
  </select>
</mapper>