<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aspire.ums.cmdb.serverProject.mapper.CmdbServerCabinetMapper">
    <!-- 定义返回结果结果集 -->
    <resultMap id="resultMap" type="com.aspire.ums.cmdb.serverProject.payload.CmdbServerCabinet">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="idcType" property="idcType" jdbcType="VARCHAR"/>
        <result column="server_room_location" property="serverRoomLocation" jdbcType="VARCHAR"/>
        <result column="server_cabinet_code" property="serverCabinetCode" jdbcType="VARCHAR"/>
        <result column="server_cabinet_standard" property="serverCabinetStandard" jdbcType="VARCHAR"/>
        <result column="project_belong_to" property="projectBelongTo" jdbcType="VARCHAR"/>
        <result column="business_belong_to" property="businessBelongTo" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- list查询 -->
    <select id="list" resultMap="resultMap">
        SELECT
        `id`,
        `is_delete`,
        `idcType`,
        `server_room_location`,
        `server_cabinet_code`,
        `server_cabinet_standard`,
        `project_belong_to`,
        `business_belong_to`
        FROM cmdb_server_cabinet
    </select>

    <!-- list查询 -->
    <select id="listByEntity" resultMap="resultMap" parameterType="com.aspire.ums.cmdb.serverProject.payload.CmdbServerCabinet">
        SELECT
        `id`,
        `is_delete`,
        `idcType`,
        `server_room_location`,
        `server_cabinet_code`,
        `server_cabinet_standard`,
        `project_belong_to`,
        `business_belong_to`
        FROM cmdb_server_cabinet
        WHERE 1=1
        <if test="id != null and id != ''">
            AND `id` = #{id}
        </if>
        <if test="isDelete != null and isDelete != ''">
            AND `is_delete` = #{isDelete}
        </if>
        <if test="idcType != null and idcType != ''">
            AND `idcType` = #{idcType}
        </if>
        <if test="serverRoomLocation != null and serverRoomLocation != ''">
            AND `server_room_location` = #{serverRoomLocation}
        </if>
        <if test="serverCabinetCode != null and serverCabinetCode != ''">
            AND `server_cabinet_code` = #{serverCabinetCode}
        </if>
        <if test="serverCabinetStandard != null and serverCabinetStandard != ''">
            AND `server_cabinet_standard` = #{serverCabinetStandard}
        </if>
        <if test="projectBelongTo != null and projectBelongTo != ''">
            AND `project_belong_to` = #{projectBelongTo}
        </if>
        <if test="businessBelongTo != null and businessBelongTo != ''">
            AND `business_belong_to` = #{businessBelongTo}
        </if>
    </select>

    <!-- Get one 查询 -->
    <select id="get" parameterType="com.aspire.ums.cmdb.serverProject.payload.CmdbServerCabinet" resultMap="resultMap">
        SELECT
        `id`,
        `is_delete`,
        `idcType`,
        `server_room_location`,
        `server_cabinet_code`,
        `server_cabinet_standard`,
        `project_belong_to`,
        `business_belong_to`
        FROM cmdb_server_cabinet
        WHERE 1=1
        AND `id` = #{id}
    </select>

    <!-- 新增记录 -->
    <insert id="insert" parameterType="com.aspire.ums.cmdb.serverProject.payload.CmdbServerCabinet">
        INSERT INTO cmdb_server_cabinet
        (
            `id`,
            `is_delete`,
            `idcType`,
            `server_room_location`,
            `server_cabinet_code`,
            `server_cabinet_standard`,
            `project_belong_to`,
            `business_belong_to`
        ) VALUES (
            #{id, jdbcType=VARCHAR},
            #{isDelete, jdbcType=TINYINT},
            #{idcType, jdbcType=VARCHAR},
            #{serverRoomLocation, jdbcType=VARCHAR},
            #{serverCabinetCode, jdbcType=VARCHAR},
            #{serverCabinetStandard, jdbcType=VARCHAR},
            #{projectBelongTo, jdbcType=VARCHAR},
            #{businessBelongTo, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 修改记录 -->
    <update id="update" parameterType="com.aspire.ums.cmdb.serverProject.payload.CmdbServerCabinet">
        UPDATE cmdb_server_cabinet SET
        `is_delete` = #{isDelete},
        `idcType` = #{idcType},
        `server_room_location` = #{serverRoomLocation},
        `server_cabinet_code` = #{serverCabinetCode},
        `server_cabinet_standard` = #{serverCabinetStandard},
        `project_belong_to` = #{projectBelongTo},
        `business_belong_to` = #{businessBelongTo}
        WHERE
        `id` = #{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="com.aspire.ums.cmdb.serverProject.payload.CmdbServerCabinet">
        DELETE FROM cmdb_server_cabinet
        WHERE
         `id` = #{id}
    </delete>
</mapper>
