<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aspire.ums.cmdb.serverProject.mapper.CmdbCabinetMapper">
    <!-- 定义返回结果结果集 -->
    <resultMap id="resultMap" type="com.aspire.ums.cmdb.serverProject.payload.CmdbCabinet">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="idcType" property="idcType" jdbcType="VARCHAR"/>
        <result column="server_room_location" property="serverRoomLocation" jdbcType="VARCHAR"/>
        <result column="server_cabinet_code" property="serverCabinetCode" jdbcType="VARCHAR"/>
        <result column="online_count" property="onlineCount" jdbcType="VARCHAR"/>
        <result column="server_cabinet_standard" property="serverCabinetStandard" jdbcType="VARCHAR"/>
        <result column="first_online_date" property="firstOnlineDate" jdbcType="VARCHAR"/>
        <result column="bill_start_date" property="billStartDate" jdbcType="VARCHAR"/>
        <result column="offline_date" property="offlineDate" jdbcType="VARCHAR"/>
        <result column="business_belong_to" property="businessBelongTo" jdbcType="VARCHAR"/>
        <result column="project_belong_to" property="projectBelongTo" jdbcType="VARCHAR"/>
        <result column="server_online_status" property="serverOnlineStatus" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- list查询 -->
    <select id="list" resultMap="resultMap">
        SELECT
        `id`,
        `is_delete`,
        `idcType`,
        `server_room_location`,
        `server_cabinet_code`,
        `online_count`,
        `server_cabinet_standard`,
        `first_online_date`,
        `bill_start_date`,
        `offline_date`,
        `business_belong_to`,
        `project_belong_to`,
        `server_online_status`
        FROM cmdb_cabinet
    </select>

    <!-- list查询 -->
    <select id="listByEntity" resultMap="resultMap" parameterType="com.aspire.ums.cmdb.serverProject.payload.CmdbCabinet">
        SELECT
        `id`,
        `is_delete`,
        `idcType`,
        `server_room_location`,
        `server_cabinet_code`,
        `online_count`,
        `server_cabinet_standard`,
        `first_online_date`,
        `bill_start_date`,
        `offline_date`,
        `business_belong_to`,
        `project_belong_to`,
        `server_online_status`
        FROM cmdb_cabinet
        WHERE 1=1
        <if test="id != null and id != ''">
            AND `id` = #{id}
        </if>
        <if test="isDelete != null and isDelete != ''">
            AND `is_delete` = #{isDelete}
        </if>
        <if test="idcType != null and idcType != ''">
            AND `idcType` = #{idcType}
        </if>
        <if test="serverRoomLocation != null and serverRoomLocation != ''">
            AND `server_room_location` = #{serverRoomLocation}
        </if>
        <if test="serverCabinetCode != null and serverCabinetCode != ''">
            AND `server_cabinet_code` = #{serverCabinetCode}
        </if>
        <if test="onlineCount != null and onlineCount != ''">
            AND `online_count` = #{onlineCount}
        </if>
        <if test="serverCabinetStandard != null and serverCabinetStandard != ''">
            AND `server_cabinet_standard` = #{serverCabinetStandard}
        </if>
        <if test="firstOnlineDate != null and firstOnlineDate != ''">
            AND `first_online_date` = #{firstOnlineDate}
        </if>
        <if test="billStartDate != null and billStartDate != ''">
            AND `bill_start_date` = #{billStartDate}
        </if>
        <if test="offlineDate != null and offlineDate != ''">
            AND `offline_date` = #{offlineDate}
        </if>
        <if test="businessBelongTo != null and businessBelongTo != ''">
            AND `business_belong_to` = #{businessBelongTo}
        </if>
        <if test="projectBelongTo != null and projectBelongTo != ''">
            AND `project_belong_to` = #{projectBelongTo}
        </if>
        <if test="serverOnlineStatus != null and serverOnlineStatus != ''">
            AND `server_online_status` = #{serverOnlineStatus}
        </if>
    </select>

    <!-- Get one 查询 -->
    <select id="get" parameterType="com.aspire.ums.cmdb.serverProject.payload.CmdbCabinet" resultMap="resultMap">
        SELECT
        `id`,
        `is_delete`,
        `idcType`,
        `server_room_location`,
        `server_cabinet_code`,
        `online_count`,
        `server_cabinet_standard`,
        `first_online_date`,
        `bill_start_date`,
        `offline_date`,
        `business_belong_to`,
        `project_belong_to`,
        `server_online_status`
        FROM cmdb_cabinet
        WHERE 1=1
        AND `id` = #{id}
    </select>

    <!-- 新增记录 -->
    <insert id="insert" parameterType="com.aspire.ums.cmdb.serverProject.payload.CmdbCabinet">
        INSERT INTO cmdb_cabinet
        (
            `id`,
            `is_delete`,
            `idcType`,
            `server_room_location`,
            `server_cabinet_code`,
            `online_count`,
            `server_cabinet_standard`,
            `first_online_date`,
            `bill_start_date`,
            `offline_date`,
            `business_belong_to`,
            `project_belong_to`,
            `server_online_status`
        ) VALUES (
            #{id, jdbcType=VARCHAR},
            #{isDelete, jdbcType=TINYINT},
            #{idcType, jdbcType=VARCHAR},
            #{serverRoomLocation, jdbcType=VARCHAR},
            #{serverCabinetCode, jdbcType=VARCHAR},
            #{onlineCount, jdbcType=VARCHAR},
            #{serverCabinetStandard, jdbcType=VARCHAR},
            #{firstOnlineDate, jdbcType=VARCHAR},
            #{billStartDate, jdbcType=VARCHAR},
            #{offlineDate, jdbcType=VARCHAR},
            #{businessBelongTo, jdbcType=VARCHAR},
            #{projectBelongTo, jdbcType=VARCHAR},
            #{serverOnlineStatus, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 修改记录 -->
    <update id="update" parameterType="com.aspire.ums.cmdb.serverProject.payload.CmdbCabinet">
        UPDATE cmdb_cabinet SET
        `is_delete` = #{isDelete},
        `idcType` = #{idcType},
        `server_room_location` = #{serverRoomLocation},
        `server_cabinet_code` = #{serverCabinetCode},
        `online_count` = #{onlineCount},
        `server_cabinet_standard` = #{serverCabinetStandard},
        `first_online_date` = #{firstOnlineDate},
        `bill_start_date` = #{billStartDate},
        `offline_date` = #{offlineDate},
        `business_belong_to` = #{businessBelongTo},
        `project_belong_to` = #{projectBelongTo},
        `server_online_status` = #{serverOnlineStatus}
        WHERE
        `id` = #{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="com.aspire.ums.cmdb.serverProject.payload.CmdbCabinet">
        DELETE FROM cmdb_cabinet
        WHERE
         `id` = #{id}
    </delete>
</mapper>
