.query_configuration {
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(4, 0, 0, 0.13);
    border-radius: 6px;
    padding: 5px 10px;
    margin: 4px 4px 0 4px;
    width: 100%;
  }
  .table_Button {
    height: 40px;
    padding-top: 5px;
  }
  .components-condition {
    display: block;
    padding-right: 0px;
  }
  .AddIcon {
      cursor: pointer;
      color:#0086E5;
      font-size: 16px;
  }
  .ctextarea {
      width: 1150px !important;
  }
  
  .diaTitle {
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
      color: #000;
      font-weight: 500;
  }
  .ICON {
      cursor: pointer;
      color: #409eff;
      font-size:15px;
  }
  .yw-form .solit .el-form-item__content > .el-input {
    width:80px;
  }
  .yw-form .solit .el-form-item__label {
    width:50px;
  }
  .yw-form .solit .el-form-item__content{
    margin-left:50px;
  }