<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="com.aspire.ums.cmdb.deviceStatistic.mapper.InstanceSearchMapper">
	 
	 
	 <sql id="baseColumnList">
		bizSystem,idcType,roomId,device_class,device_type,ip
		 
	 </sql>
   
     <!-- 动态sql -->
    <sql id="where_sql"> 
    	<if test="bizSystemList != null">
                    AND bizSystem IN
                    <foreach collection="bizSystemList" index="index" item="obj"
                             open="(" separator="," close=")">
                        #{obj}
                    </foreach>
                </if>
        <!--  <if test="bizSystem != null and  bizSystem != '' ">
    		and bizSystem = #{bizSystem}
    	</if>-->
    	<if test="idcType != null and  idcType != '' ">
    		and idcType = #{idcType} 
    	</if>
		<if test="roomId != null and  roomId != '' ">
    		and roomId = #{roomId} 
    	</if>
    	<if test="deviceClass != null and  deviceClass != '' ">
    		and device_class = #{deviceClass}
    	</if>	
		<if test="deviceType != null and  deviceType != '' ">
    		and device_type = #{deviceType}
    	</if>
    	<if test="ip != null and  ip != '' ">
    		and ip like  CONCAT('%',#{ip},'%')
    	</if>
	
    </sql>
	 
	  
	 <!-- 分页数据个数 -->
	 <select id="getInstanceSearchCount" parameterType="map" resultType="Integer">
		select count(*) FROM  cmdb_instance    where 1=1
	    <include refid="where_sql" /> 
	       
	 </select>
	

	<!-- 分页数据 -->
	<select id="getInstanceSearchByPage" parameterType="map" resultType="map" >
	 	select <include refid="baseColumnList" /> FROM  cmdb_instance  where 1=1
	    <include refid="where_sql" />  
	    <if test="pageNo != null and  pageSize != null ">
    		limit #{pageNo},#{pageSize}
    	</if>
	    
	</select>
	<select id="selectInstanceByAuth" parameterType="map" resultType="java.util.LinkedHashMap" >
		select id uuid, device_name name, bizSystem, idcType, roomId,device_class deviceClass,device_type deviceType FROM  cmdb_instance  where 1=1
		<if test="idcArray != null and idcArray.size > 0">
			and idcType in (
			<foreach collection="idcArray" item="item" index="index" separator=",">
				#{item, jdbcType=VARCHAR}
			</foreach>
			)
		</if>
		<if test="roomArray != null and roomArray.size > 0">
			and roomId in (
			<foreach collection="roomArray" item="item" index="index" separator=",">
				#{item, jdbcType=VARCHAR}
			</foreach>
			)
		</if>
		<if test="bizSysArray != null and bizSysArray.size > 0">
			and bizSystem in (
			<foreach collection="bizSysArray" item="item" index="index" separator=",">
				#{item, jdbcType=VARCHAR}
			</foreach>
			)
		</if>
		<if test="deviceTypeArray != null and deviceTypeArray.size > 0">
			and device_type in (
			<foreach collection="deviceTypeArray" item="item" index="index" separator=",">
				#{item, jdbcType=VARCHAR}
			</foreach>
			)
		</if>
	</select>
	
	<select id="selectDepartment" parameterType="string" resultType="map" >
	 	select department1 ,department2  FROM  cmdb_instance  where 1=1
	    <if test="ip != null and  ip != '' ">
    		and ip = #{ip}
    	</if> 
    	<if test="bizSystem != null and  bizSystem != '' ">
    		and bizSystem = #{bizSystem}
    	</if> 
    	
	</select>
	
	
	<select id="selectbizSystemConcatList" parameterType="string" resultType="map" >
		SELECT  business_concat NAME,business_concat_phone phone,business_concat_email email  FROM  `cmdb_business_system`  sys WHERE is_delete='0'
		<if test="bizSystem != null and  bizSystem != '' ">
    		and bizSystem = #{bizSystem}
    	</if> 
	</select>
		
	
</mapper>