<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aspire.mirror.alert.server.dao.kpi.KpiConfigLogsMapper">
    <!-- 定义返回结果结果集 -->
    <resultMap id="resultMap" type="com.aspire.mirror.alert.server.dao.kpi.po.KpiConfigLogs">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="config_id" property="configId" jdbcType="VARCHAR"/>
        <result column="config_name" property="configName" jdbcType="VARCHAR"/>
        <result column="tag" property="configName" jdbcType="VARCHAR"/>
        <result column="from_time" property="fromTime" jdbcType="TIMESTAMP"/>
        <result column="to_time" property="toTime" jdbcType="TIMESTAMP"/>
        <result column="exec_time" property="execTime" jdbcType="TIMESTAMP"/>
        <result column="exec_duration" property="execDuration" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="baseColumnList">
        id,config_id,config_name,tag,from_time,to_time,exec_time,exec_duration,status,content,create_time
    </sql>
    <insert id="insert" parameterType="com.aspire.mirror.alert.server.dao.kpi.po.KpiConfigLogs" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into kpi_config_logs (config_id,config_name,tag,from_time,to_time,exec_time,exec_duration,status,content,create_time) VALUE
        (#{configId},
        #{configName},
        #{tag},
        #{fromTime},
        #{toTime},
        #{execTime},
        #{execDuration},
        #{status},
        #{content},
        #{createTime})
    </insert>

    <update id="update" parameterType="com.aspire.mirror.alert.server.dao.kpi.po.KpiConfigLogs">
        update kpi_config_logs SET
        from_time=#{fromTime},
        to_time=#{toTime},
        exec_time=#{execTime},
        exec_duration=#{execDuration},
        status=#{status},
        content=#{content},
        create_time=#{createTime}
        where id=#{id}
    </update>

    <select id="selectNewestByConfigId" resultMap="resultMap" parameterType="java.util.Map">
        select <include refid="baseColumnList" />
        from kpi_config_logs
        <where>
            config_id = #{configId} and status in ('success','doing')
            <if test="tag != null and tag != ''">
                and tag = #{tag}
            </if>
        </where>
        order by to_time desc limit 1
    </select>
</mapper>