<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 类名: AlertsConfigSql 描述: 数据访问语句 作者: qianch 时间: 2018-09-14 15:15:48 -->
<mapper namespace="com.aspire.mirror.alert.server.dao.monitorHttp.MonitorHttpIdcTypeDao">

	<resultMap type="com.aspire.mirror.alert.server.dao.monitorHttp.po.MonitorHttpIdcType"
		id="baseResultMap">
		<result property="idcType" column="idcType" jdbcType="VARCHAR" />
		<result property="url" column="url" jdbcType="VARCHAR" />
	</resultMap>




	<select id="getAll" resultMap="baseResultMap">
		SELECT idcType,url from monitor_http_idcType
	</select>
	
</mapper>