<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aspire.mirror.alert.server.dao.model.AlertModelDao">



    <insert id="insertAlertModel"
            parameterType="com.aspire.mirror.alert.server.vo.model.AlertModelVo">
        INSERT INTO alert_model
        (id, model_name, table_name, sort, description, creator, create_time, parent_id,is_delete)
        VALUES
        (#{id}, #{modelName}, #{tableName}, #{sort}, #{description}, #{creator}, NOW(),#{parentId},'0')
    </insert>

    <sql id="alertModelDetailSql">
        SELECT
            id,
            parent_id parentId,
            model_name modelName,
            table_name tableName,
            sort,
            description,
            creator,
            DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S') createTime,
            updater,
            DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%S') updateTime
        FROM
            alert_model
    </sql>
    <select id="getAlertModelList" resultType="com.aspire.mirror.alert.server.dao.model.po.AlertModel">

        <include refid="alertModelDetailSql" />
        WHERE 1=1 AND table_name IS NOT NULL
        <if test="modelName != null and modelName != '' ">
            AND (model_name = #{modelName}
        </if>
        <if test="tableName != null and tableName != '' ">
            AND table_name = #{tableName}
        </if>
        ORDER BY sort

    </select>

    <select id="getAlertModelDetail" parameterType="java.lang.String"
            resultType="com.aspire.mirror.alert.server.dao.model.po.AlertModel">
        SELECT
            a.id,
            a.parent_id parentId,
            a.model_name modelName,
            a.table_name tableName,
            a.sort,
            a.description,
            a.creator,
            DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%S') createTime,
            a.updater,
            DATE_FORMAT(a.update_time,'%Y-%m-%d %H:%i:%S') updateTime
        FROM alert_model a
        WHERE id = #{id}
    </select>

    <select id="getAlertModelTreeData" resultType="com.aspire.mirror.alert.server.dao.model.po.AlertModel">
        <include refid="alertModelDetailSql" />
         WHERE is_delete = '0'
    </select>

    <delete id="deleteAlertModel" parameterType="java.util.List">
        UPDATE alert_model SET is_delete = '1'
        WHERE 1=1
        <if test="list != null and list.size > 0">
            AND id IN
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>

    <update id="updateAlertModel"
            parameterType="com.aspire.mirror.alert.server.vo.model.AlertModelVo">
        UPDATE alert_model
        SET model_name = #{modelName},sort = #{sort},description = #{description},updater = #{updater}, update_time = now()
        WHERE id = #{id}
    </update>

</mapper>