<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aspire.ums.cmdb.openstack.mapper.CmdbOpenstackNetworkMapper" >
    <!-- 定义返回结果结果集 -->
    <resultMap id="resultMap" type="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackNetwork" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="instance_id" property="instanceId" jdbcType="VARCHAR" />
        <result column="event_id" property="eventId" jdbcType="VARCHAR" />
        <result column="network_id" property="networkId" jdbcType="VARCHAR" />
        <result column="hname" property="hname" jdbcType="VARCHAR" />
        <result column="sname" property="sname" jdbcType="VARCHAR" />
        <result column="isAdminStateUp" property="isAdminStateUp" jdbcType="VARCHAR" />
        <result column="isRouterExternal" property="isRouterExternal" jdbcType="VARCHAR" />
        <result column="isShared" property="isShared" jdbcType="VARCHAR" />
        <result column="mtu" property="mtu" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="org" property="org" jdbcType="VARCHAR" />
        <result column="providerNetworkType" property="providerNetworkType" jdbcType="VARCHAR" />
        <result column="providerSegmentationId" property="providerSegmentationId" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="src_create_time" property="srcCreateTime" jdbcType="DATE" />
        <result column="src_creator" property="srcCreator" jdbcType="VARCHAR" />
        <result column="src_modify_time" property="srcModifyTime" jdbcType="DATE" />
        <result column="src_modifier" property="srcModifier" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="DATE" />
        <result column="update_time" property="updateTime" jdbcType="DATE" />
        <result column="version" property="version" jdbcType="TINYINT" />
    </resultMap>

    <!-- list查询 -->
    <select id="list" resultMap="resultMap">
        SELECT
        `id`,
        `instance_id`,
        `event_id`,
        `network_id`,
        `hname`,
        `sname`,
        `isAdminStateUp`,
        `isRouterExternal`,
        `isShared`,
        `mtu`,
        `name`,
        `org`,
        `providerNetworkType`,
        `providerSegmentationId`,
        `status`,
        `src_create_time`,
        `src_creator`,
        `src_modify_time`,
        `src_modifier`,
        `create_time`,
        `update_time`,
        `version`
        FROM cmdb_openstack_network
    </select>

    <!-- list查询 -->
    <select id="listByEntity" resultMap="resultMap" parameterType="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackNetwork">
        SELECT
        `id`,
        `instance_id`,
        `event_id`,
        `network_id`,
        `hname`,
        `sname`,
        `isAdminStateUp`,
        `isRouterExternal`,
        `isShared`,
        `mtu`,
        `name`,
        `org`,
        `providerNetworkType`,
        `providerSegmentationId`,
        `status`,
        `src_create_time`,
        `src_creator`,
        `src_modify_time`,
        `src_modifier`,
        `create_time`,
        `update_time`,
        `version`
        FROM cmdb_openstack_network
        WHERE 1=1
        <if test="id != null and id != ''">
        AND `id` = #{id}
        </if>
        <if test="instanceId != null and instanceId != ''">
        AND `instance_id` = #{instanceId}
        </if>
        <if test="eventId != null and eventId != ''">
        AND `event_id` = #{eventId}
        </if>
        <if test="networkId != null and networkId != ''">
        AND `network_id` = #{networkId}
        </if>
        <if test="hname != null and hname != ''">
        AND `hname` = #{hname}
        </if>
        <if test="sname != null and sname != ''">
        AND `sname` = #{sname}
        </if>
        <if test="isAdminStateUp != null and isAdminStateUp != ''">
        AND `isAdminStateUp` = #{isAdminStateUp}
        </if>
        <if test="isRouterExternal != null and isRouterExternal != ''">
        AND `isRouterExternal` = #{isRouterExternal}
        </if>
        <if test="isShared != null and isShared != ''">
        AND `isShared` = #{isShared}
        </if>
        <if test="mtu != null and mtu != ''">
        AND `mtu` = #{mtu}
        </if>
        <if test="name != null and name != ''">
        AND `name` = #{name}
        </if>
        <if test="org != null and org != ''">
        AND `org` = #{org}
        </if>
        <if test="providerNetworkType != null and providerNetworkType != ''">
        AND `providerNetworkType` = #{providerNetworkType}
        </if>
        <if test="providerSegmentationId != null and providerSegmentationId != ''">
        AND `providerSegmentationId` = #{providerSegmentationId}
        </if>
        <if test="status != null and status != ''">
        AND `status` = #{status}
        </if>
        <if test="srcCreateTime != null and srcCreateTime != ''">
        AND `src_create_time` = #{srcCreateTime}
        </if>
        <if test="srcCreator != null and srcCreator != ''">
        AND `src_creator` = #{srcCreator}
        </if>
        <if test="srcModifyTime != null and srcModifyTime != ''">
        AND `src_modify_time` = #{srcModifyTime}
        </if>
        <if test="srcModifier != null and srcModifier != ''">
        AND `src_modifier` = #{srcModifier}
        </if>
        <if test="createTime != null and createTime != ''">
        AND `create_time` = #{createTime}
        </if>
        <if test="updateTime != null and updateTime != ''">
        AND `update_time` = #{updateTime}
        </if>
        <if test="version != null and version != ''">
        AND `version` = #{version}
        </if>
    </select>

    <!-- Get one 查询 -->
    <select id="get" parameterType="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackNetwork" resultMap="resultMap">
        SELECT
        `id`,
        `instance_id`,
        `event_id`,
        `network_id`,
        `hname`,
        `sname`,
        `isAdminStateUp`,
        `isRouterExternal`,
        `isShared`,
        `mtu`,
        `name`,
        `org`,
        `providerNetworkType`,
        `providerSegmentationId`,
        `status`,
        `src_create_time`,
        `src_creator`,
        `src_modify_time`,
        `src_modifier`,
        `create_time`,
        `update_time`,
        `version`
        FROM cmdb_openstack_network
        WHERE 1=1
        AND `id` = #{id}
    </select>

    <select id="getByInstanceId" parameterType="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackNetwork" resultMap="resultMap">
        SELECT
        `id`,
        `instance_id`,
        `event_id`,
        `network_id`,
        `hname`,
        `sname`,
        `isAdminStateUp`,
        `isRouterExternal`,
        `isShared`,
        `mtu`,
        `name`,
        `org`,
        `providerNetworkType`,
        `providerSegmentationId`,
        `status`,
        `src_create_time`,
        `src_creator`,
        `src_modify_time`,
        `src_modifier`,
        `create_time`,
        `update_time`,
        `version`
        FROM cmdb_openstack_network
        WHERE 1=1
        AND `instance_id` = #{instanceId}
    </select>

    <select id="findByInstanceId" parameterType="java.lang.String" resultMap="resultMap">
        SELECT
        `id`,
        `instance_id`,
        `event_id`,
        `network_id`,
        `hname`,
        `sname`,
        `isAdminStateUp`,
        `isRouterExternal`,
        `isShared`,
        `mtu`,
        `name`,
        `org`,
        `providerNetworkType`,
        `providerSegmentationId`,
        `status`,
        `src_create_time`,
        `src_creator`,
        `src_modify_time`,
        `src_modifier`,
        `create_time`,
        `update_time`,
        `version`
        FROM cmdb_openstack_network
        WHERE 1=1
        AND `instance_id` = #{instanceId}
    </select>

    <!-- 新增记录 -->
    <insert id="insert" parameterType="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackNetwork">
        INSERT INTO cmdb_openstack_network
        (
            `id`,
            `instance_id`,
            `event_id`,
            `network_id`,
            `hname`,
            `sname`,
            `isAdminStateUp`,
            `isRouterExternal`,
            `isShared`,
            `mtu`,
            `name`,
            `org`,
            `providerNetworkType`,
            `providerSegmentationId`,
            `status`,
            `src_create_time`,
            `src_creator`,
            `src_modify_time`,
            `src_modifier`,
            `version`
        ) VALUES (
            #{id, jdbcType=VARCHAR},
            #{instanceId, jdbcType=VARCHAR},
            #{eventId, jdbcType=VARCHAR},
            #{networkId, jdbcType=VARCHAR},
            #{hname, jdbcType=VARCHAR},
            #{sname, jdbcType=VARCHAR},
            #{isAdminStateUp, jdbcType=VARCHAR},
            #{isRouterExternal, jdbcType=VARCHAR},
            #{isShared, jdbcType=VARCHAR},
            #{mtu, jdbcType=VARCHAR},
            #{name, jdbcType=VARCHAR},
            #{org, jdbcType=VARCHAR},
            #{providerNetworkType, jdbcType=VARCHAR},
            #{providerSegmentationId, jdbcType=VARCHAR},
            #{status, jdbcType=VARCHAR},
            #{srcCreateTime, jdbcType=DATE},
            #{srcCreator, jdbcType=VARCHAR},
            #{srcModifyTime, jdbcType=DATE},
            #{srcModifier, jdbcType=VARCHAR},
            #{version, jdbcType=TINYINT}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO cmdb_openstack_network
        (
            `id`,
            `instance_id`,
            `event_id`,
            `network_id`,
            `hname`,
            `sname`,
            `isAdminStateUp`,
            `isRouterExternal`,
            `isShared`,
            `mtu`,
            `name`,
            `org`,
            `providerNetworkType`,
            `providerSegmentationId`,
            `status`,
            `src_create_time`,
            `src_creator`,
            `src_modify_time`,
            `src_modifier`,
            `version`
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
        (
            #{item.id, jdbcType=VARCHAR},
            #{item.instanceId, jdbcType=VARCHAR},
            #{item.eventId, jdbcType=VARCHAR},
            #{item.networkId, jdbcType=VARCHAR},
            #{item.hname, jdbcType=VARCHAR},
            #{item.sname, jdbcType=VARCHAR},
            #{item.isAdminStateUp, jdbcType=VARCHAR},
            #{item.isRouterExternal, jdbcType=VARCHAR},
            #{item.isShared, jdbcType=VARCHAR},
            #{item.mtu, jdbcType=VARCHAR},
            #{item.name, jdbcType=VARCHAR},
            #{item.org, jdbcType=VARCHAR},
            #{item.providerNetworkType, jdbcType=VARCHAR},
            #{item.providerSegmentationId, jdbcType=VARCHAR},
            #{item.status, jdbcType=VARCHAR},
            #{item.srcCreateTime, jdbcType=DATE},
            #{item.srcCreator, jdbcType=VARCHAR},
            #{item.srcModifyTime, jdbcType=DATE},
            #{item.srcModifier, jdbcType=VARCHAR},
            #{item.version, jdbcType=TINYINT}
        )
        </foreach>
    </insert>

    <!-- 修改记录 -->
    <update id="update" parameterType="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackNetwork">
        UPDATE cmdb_openstack_network SET
        `instance_id` = #{instanceId},
        `event_id` = #{eventId},
        `network_id` = #{networkId},
        `hname` = #{hname},
        `sname` = #{sname},
        `isAdminStateUp` = #{isAdminStateUp},
        `isRouterExternal` = #{isRouterExternal},
        `isShared` = #{isShared},
        `mtu` = #{mtu},
        `name` = #{name},
        `org` = #{org},
        `providerNetworkType` = #{providerNetworkType},
        `providerSegmentationId` = #{providerSegmentationId},
        `status` = #{status},
        `src_create_time` = #{srcCreateTime},
        `src_creator` = #{srcCreator},
        `src_modify_time` = #{srcModifyTime},
        `src_modifier` = #{srcModifier},
        `version` = #{version}
        WHERE
        `id` = #{id}
    </update>

    <update id="updateByInstanceId" parameterType="java.util.HashMap">
        UPDATE cmdb_openstack_network
        <set>
            <if test="_parameter.containsKey('name') ">
                `name` =  #{name},
            </if>
            <if test="_parameter.containsKey('id') ">
                network_id =  #{id},
            </if>
            <if test="_parameter.containsKey('hname') ">
                hname =  #{hname},
            </if>
            <if test="_parameter.containsKey('sname') ">
                sname =  #{sname},
            </if>
            <if test="_parameter.containsKey('isAdminStateUp') ">
                isAdminStateUp =  #{isAdminStateUp},
            </if>
            <if test="_parameter.containsKey('isRouterExternal') ">
                isRouterExternal =  #{isRouterExternal},
            </if>
            <if test="_parameter.containsKey('isShared') ">
                isShared =  #{isShared},
            </if>
            <if test="_parameter.containsKey('mtu') ">
                mtu =  #{mtu},
            </if>
            <if test="_parameter.containsKey('org') ">
                org =  #{org},
            </if>
            <if test="_parameter.containsKey('providerNetworkType') ">
                providerNetworkType =  #{providerNetworkType},
            </if>
            <if test="_parameter.containsKey('providerSegmentationId') ">
                providerSegmentationId =  #{providerSegmentationId},
            </if>
            <if test="_parameter.containsKey('status') ">
                status =  #{status},
            </if>
            <if test="_parameter.containsKey('_version') ">
                version =  #{_version},
            </if>
        </set>
        WHERE instance_id=#{instanceId}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackNetwork">
        DELETE FROM cmdb_openstack_network
        WHERE
         `id` = #{id}
    </delete>

    <delete id="deleteByInstanceId" parameterType="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackNetwork">
        DELETE FROM cmdb_openstack_network
        WHERE
         `instance_id` = #{instanceId}
    </delete>
</mapper>
