<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aspire.ums.cmdb.openstack.mapper.CmdbOpenstackImageAdminRelMapper" >
    <!-- 定义返回结果结果集 -->
    <resultMap id="resultMap" type="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackImageAdminRel" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="image_id" property="imageId" jdbcType="VARCHAR" />
        <result column="admin_id" property="adminId" jdbcType="VARCHAR" />
    </resultMap>

    <!-- list查询 -->
    <select id="list" resultMap="resultMap">
        SELECT
        `id`,
        `image_id`,
        `admin_id`
        FROM cmdb_openstack_image_admin_rel
    </select>

    <!-- list查询 -->
    <select id="listByEntity" resultMap="resultMap" parameterType="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackImageAdminRel">
        SELECT
        `id`,
        `image_id`,
        `admin_id`
        FROM cmdb_openstack_image_admin_rel
        WHERE 1=1
        <if test="id != null and id != ''">
        AND `id` = #{id}
        </if>
        <if test="imageId != null and imageId != ''">
        AND `image_id` = #{imageId}
        </if>
        <if test="adminId != null and adminId != ''">
        AND `admin_id` = #{adminId}
        </if>
    </select>

    <!-- Get one 查询 -->
    <select id="get" parameterType="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackImageAdminRel" resultMap="resultMap">
        SELECT
        `id`,
        `image_id`,
        `admin_id`
        FROM cmdb_openstack_image_admin_rel
        WHERE 1=1
        AND `id` = #{id}
    </select>

    <!-- 新增记录 -->
    <insert id="insert" parameterType="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackImageAdminRel">
        INSERT INTO cmdb_openstack_image_admin_rel
        (
            `id`,
            `image_id`,
            `admin_id`
        ) VALUES (
            #{id, jdbcType=VARCHAR},
            #{imageId, jdbcType=VARCHAR},
            #{adminId, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 修改记录 -->
    <update id="update" parameterType="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackImageAdminRel">
        UPDATE cmdb_openstack_image_admin_rel SET
        `image_id` = #{imageId},
        `admin_id` = #{adminId}
        WHERE
        `id` = #{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackImageAdminRel">
        DELETE FROM cmdb_openstack_image_admin_rel
        WHERE
         `id` = #{id}
    </delete>

    <delete id="deleteByInstanceId" parameterType="com.aspire.ums.cmdb.openstack.payload.entity.CmdbOpenstackImageAdminRel">
        DELETE FROM cmdb_openstack_image_admin_rel
        WHERE
         `image_id` = #{imageId}
         and `admin_id` = #{adminId}
    </delete>

</mapper>
