<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.migu.tsg.microservice.atomicservice.rbac.dao.SysManageMapper">
  <resultMap id="BaseResultMap" type="com.migu.tsg.microservice.atomicservice.rbac.dao.po.SysManage">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="manage_code" jdbcType="VARCHAR" property="manageCode" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>


  <sql id="Base_Column_List">
    id, name, manage_code, creater, create_time, del_status
  </sql>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_manage
    where id = #{id,jdbcType=VARCHAR}
  </delete>


  <insert id="insert" parameterType="com.migu.tsg.microservice.atomicservice.rbac.dao.po.SysManage">
    insert into sys_manage (id, name, manage_code, creater,
    create_time, del_status)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{manageCode,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP}, #{delStatus,jdbcType=VARCHAR})
  </insert>


  <insert id="insertSelective" parameterType="com.migu.tsg.microservice.atomicservice.rbac.dao.po.SysManage">
    insert into sys_manage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="manageCode != null">
        manage_code,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="delStatus != null">
        del_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="manageCode != null">
        #{manageCode,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null">
        #{delStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.migu.tsg.microservice.atomicservice.rbac.dao.po.SysManage">
    update sys_manage
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null">
        del_status = #{delStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.migu.tsg.microservice.atomicservice.rbac.dao.po.SysManage">
    update sys_manage
    set name = #{name,jdbcType=VARCHAR},
    creater = #{creater,jdbcType=VARCHAR},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    del_status = #{delStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from  sys_manage
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from  sys_manage
  </select>
</mapper>