<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aspire.ums.cmdb.v2.assessment.mapper.CmdbDeviceTypeModelMapper" >
    <!-- 定义返回结果结果集 -->
    <resultMap id="resultMap" type="com.aspire.ums.cmdb.assessment.payload.CmdbDeviceTypeModel" >
        <result column="device_type_id" property="deviceTypeId" jdbcType="VARCHAR" />
        <result column="device_type" property="deviceType" jdbcType="VARCHAR" />
        <result column="device_model" property="deviceModel" jdbcType="VARCHAR" />
    </resultMap>

    <!-- list查询 -->
    <select id="getDeviceTypeByModel" resultMap="resultMap">
        SELECT a.device_type_id device_type_id, b.name device_type,a.`device_model` device_model
        FROM `cmdb_device_type_model` a
       LEFT JOIN `cmdb_device_type` b
       ON a.device_type_id = b.id
        WHERE a.device_model = #{deviceModel}
    </select>

    <!-- list查询 -->
    <select id="getModelByDeviceType" resultMap="resultMap">
        SELECT b.name device_type,a.`device_model` device_model
        FROM `cmdb_device_type_model` a
                 LEFT JOIN `cmdb_device_type` b
                           ON a.device_type_id = b.id
        WHERE b.name = #{deviceType}
    </select>

</mapper>