<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aspire.fileCheck.dao.IMirrorDictDAO">

	<resultMap type="com.aspire.fileCheck.entity.MirrorDictEntity" id="mirrorDictMap">
         <id property="dictId" column="dict_id" jdbcType="TINYINT"/>
         <result property="dictName" column="dict_name" jdbcType="VARCHAR"/>
         <result property="dictValue" column="dict_value" jdbcType="VARCHAR"/>
	</resultMap>

	<select id="getMirrorDictByDictName" resultMap="mirrorDictMap">
		select * from mirror_dict m where m.dict_name =  #{dictName}
		order by m.dict_id
	</select>

	<select id="getMirrorDictByDictId" resultMap="mirrorDictMap">
		select * from mirror_dict m where m.dict_id =  #{dictId}
	</select>
</mapper>