<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aspire.ums.cmdb.teamwork.mapper.TeamworkLabelSummaryMapper" >
    <!-- 定义返回结果结果集 -->
    <resultMap id="resultMap" type="com.aspire.ums.cmdb.teamwork.entity.TeamworkLabelSummaryDTO" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="tw_teamwork_id" property="twTeamworkId" jdbcType="VARCHAR" />
        <result column="tw_label_id" property="twLabelId" jdbcType="VARCHAR" />
        <result column="summary_content" property="summaryContent" jdbcType="VARCHAR" />
        <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    </resultMap>

    <!-- list查询 -->
    <select id="list" resultMap="resultMap">
        SELECT
        `id`,
        `tw_teamwork_id`,
        `tw_label_id`,
        `summary_content`,
        `is_delete`
        FROM teamwork_label_summary
    </select>

    <!-- list查询 -->
    <select id="listByEntity" resultMap="resultMap" parameterType="com.aspire.ums.cmdb.teamwork.entity.TeamworkLabelSummaryDTO">
        SELECT
        `id`,
        `tw_teamwork_id`,
        `tw_label_id`,
        `summary_content`,
        `is_delete`
        FROM teamwork_label_summary
        WHERE 1=1
        <if test="id != null and id != ''">
        AND `id` = #{id}
        </if>
        <if test="twTeamworkId != null and twTeamworkId != ''">
        AND `tw_teamwork_id` = #{twTeamworkId}
        </if>
        <if test="twLabelId != null and twLabelId != ''">
        AND `tw_label_id` = #{twLabelId}
        </if>
        <if test="summaryContent != null and summaryContent != ''">
        AND `summary_content` = #{summaryContent}
        </if>
        <if test="isDelete != null and isDelete != ''">
        AND `is_delete` = #{isDelete}
        </if>
    </select>

    <!-- Get one 查询 -->
    <select id="get" parameterType="com.aspire.ums.cmdb.teamwork.entity.TeamworkLabelSummaryDTO" resultMap="resultMap">
        SELECT
        `id`,
        `tw_teamwork_id`,
        `tw_label_id`,
        `summary_content`,
        `is_delete`
        FROM teamwork_label_summary
        WHERE 1=1
        AND `id` = #{id}
    </select>

    <!-- 新增记录 -->
    <insert id="insert" parameterType="com.aspire.ums.cmdb.teamwork.entity.TeamworkLabelSummaryDTO">
        INSERT INTO teamwork_label_summary
        (
            `id`,
            `tw_teamwork_id`,
            `tw_label_id`,
            `summary_content`,
            `is_delete`
        ) VALUES (
            #{id, jdbcType=VARCHAR},
            #{twTeamworkId, jdbcType=VARCHAR},
            #{twLabelId, jdbcType=VARCHAR},
            #{summaryContent, jdbcType=VARCHAR},
            #{isDelete, jdbcType=TINYINT}
        )
    </insert>

    <!-- 修改记录 -->
    <update id="update" parameterType="com.aspire.ums.cmdb.teamwork.entity.TeamworkLabelSummaryDTO">
        UPDATE teamwork_label_summary SET
        `tw_teamwork_id` = #{twTeamworkId},
        `tw_label_id` = #{twLabelId},
        `summary_content` = #{summaryContent},
        `is_delete` = #{isDelete}
        WHERE
        `id` = #{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="com.aspire.ums.cmdb.teamwork.entity.TeamworkLabelSummaryDTO">
        DELETE FROM teamwork_label_summary
        WHERE
         `id` = #{id}
    </delete>
</mapper>