<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aspire.ums.cmdb.collect.mapper.CollectEmployeeMapper" >
    <resultMap id="BaseResultMap" type="com.aspire.ums.cmdb.collect.entity.CollectEmployeeEntity" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="collectId" property="collectId" jdbcType="VARCHAR" />
        <result column="opertype" property="opertype" jdbcType="VARCHAR" />
        <result column="employeeName" property="employeeName" jdbcType="VARCHAR"/>
        <result column="employeeAddr" property="employeeAddr" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getCollectEmployee" resultMap="BaseResultMap"  >
       SELECT id, collectId, opertype, employeeName,employeeAddr FROM cmdb_collect_employee_manager
       where collectId=#{collectId} and opertype=#{operType}
    </select>

    <select id="getCollectNoticeEmployee" resultMap="BaseResultMap"  >
       SELECT id, collectId, opertype, employeeName,employeeAddr FROM cmdb_collect_employee_manager
       where collectId=#{collectId} and opertype='collect_notice_employee'
    </select>

    <insert id="insertVO" parameterType="com.aspire.ums.cmdb.collect.entity.CollectEmployeeEntity">
        insert into cmdb_collect_employee_manager (id, collectId, opertype, employeeName,employeeAddr)
        values (#{id,jdbcType=VARCHAR},
        #{collectId,jdbcType=VARCHAR},
        #{opertype,jdbcType=VARCHAR},
        #{employeeName,jdbcType=VARCHAR},
        #{employeeAddr,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteVOByCollectId" parameterType="java.lang.String">
        delete from cmdb_collect_employee_manager where collectId = #{collectId}
    </delete>
</mapper>