<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aspire.ums.cmdb.v3.module.mapper.CmdbV3ModuleAuthorizationMapper" >
    <!-- 定义返回结果结果集 -->
    <resultMap id="resultMap" type="com.aspire.ums.cmdb.v3.module.payload.CmdbV3ModuleAuthorization" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="module_id" property="moduleId" jdbcType="VARCHAR" />
        <result column="auth_id" property="authId" jdbcType="VARCHAR" />
        <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    </resultMap>

    <!-- list查询 -->
    <select id="list" resultMap="resultMap">
        SELECT
        `id`,
        `module_id`,
        `auth_id`,
        `sort_index`,
        `is_delete`
        FROM cmdb_v3_module_authorization
    </select>

    <!-- list查询 -->
    <select id="listByEntity" resultMap="resultMap" parameterType="com.aspire.ums.cmdb.v3.module.payload.CmdbV3ModuleAuthorization">
        SELECT
        `id`,
        `module_id`,
        `auth_id`,
        `is_delete`
        FROM cmdb_v3_module_authorization
        WHERE 1=1
        <if test="id != null and id != ''">
        AND `id` = #{id}
        </if>
        <if test="moduleId != null and moduleId != ''">
        AND `module_id` = #{moduleId}
        </if>
        <if test="authId != null and authId != ''">
        AND `auth_id` = #{authId}
        </if>
        <if test="isDelete != null and isDelete != ''">
        AND `is_delete` = #{isDelete}
        </if>
    </select>

    <!-- Get one 查询 -->
    <select id="get" parameterType="com.aspire.ums.cmdb.v3.module.payload.CmdbV3ModuleAuthorization" resultMap="resultMap">
        SELECT
        `id`,
        `module_id`,
        `auth_id`,
        `is_delete`
        FROM cmdb_v3_module_authorization
        WHERE 1=1
        AND `id` = #{id}
    </select>



    <!-- 新增记录 -->
    <insert id="insert" parameterType="com.aspire.ums.cmdb.v3.module.payload.CmdbV3ModuleAuthorization">
        INSERT INTO cmdb_v3_module_authorization
        (
            `id`,
            `module_id`,
            `auth_id`,
            `is_delete`
        ) VALUES (
            #{id, jdbcType=VARCHAR},
            #{moduleId, jdbcType=VARCHAR},
            #{authId, jdbcType=VARCHAR},
            #{isDelete, jdbcType=TINYINT}
        )
    </insert>

    <!-- 修改记录 -->
    <update id="update" parameterType="com.aspire.ums.cmdb.v3.module.payload.CmdbV3ModuleAuthorization">
        UPDATE cmdb_v3_module_authorization SET
        `module_id` = #{moduleId},
        `auth_id` = #{authId},
        `is_delete` = #{isDelete}
        WHERE
        `id` = #{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="com.aspire.ums.cmdb.v3.module.payload.CmdbV3ModuleAuthorization">
        DELETE FROM cmdb_v3_module_authorization
        WHERE
         1=1
        <if test="id != null and id != ''">
            AND `id` = #{id}
        </if>
        <if test="moduleId != null and moduleId != ''">
            AND `module_id` = #{moduleId}
        </if>
    </delete>
</mapper>